#selectFields {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

#selectFields label {
    float:left;
    width:4.0em;
}

#selectFields label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

#selectFields label input {
    position:absolute;
    top:-20px;
}

#selectFields input:checked + span {
    background-color:#911;
    color:#fff;
}